<%- include('partials/header'); -%>

<h1> <b> Home </b> </h1>

<p>
    <%= homeStartingContent %>
</p>
<%  posts.forEach((post)=> {    %>
    <h2> <b> <%= post.postTitle %> </b> </h2> 
    <p> <%= post.postData.substring(0,150)+" ..." %> 
    <a href= "<%='posts/'+post._id%>" >Read more</a> </p>
    <% }) %>
<%- include('partials/footer'); -%>
