<%- include('partials/header'); -%>

<h1> <b> Home </b> </h1>

<p>
    <%= homeStartingContent %>
</p>
<%  posts.forEach((element)=> {    %>
    <h2> <b> <%= element.postTitle %> </b> </h2> 
    <p> <%= element.postData %> </p>
    <% }) %>

<%- include('partials/footer'); -%>
